@import "mixin";
@import "rem";

html {
    height: 100%;
    font-size: 10px;
    @media (max-width: 768px) { //mobile
         overflow: hidden;
    }
    @media (max-width: 414px) { //mobile
        font-size: 10vw;
    }

    @media (min-width: 415px) and (max-width: 768px) { //mobile
        font-size: 6vw;
    }
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
}


body {
    header,
    .mobile-header-bar { //页眉共性设置
        &, a {
            color: $color;
        }

        a:hover {
            color: $main-color;
        }
       
    }
}
