@import "mixin";
@import "rem";

html {
    height: 100%;
    font-size: 10px;
    @media (max-width: 768px) { //mobile
         overflow: hidden;
    }
    @media (max-width: 414px) { //mobile
        font-size: 10vw;
    }

    @media (min-width: 415px) and (max-width: 768px) { //mobile
        font-size: 6vw;
    }
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
}

$mobile-left-width: 260px;
$mobile-header-bar-height: 50px;
$mobole-menu-item-padding: 15px;
$mobile-header-bgcolor: #fff!default; //!default 才能被覆盖
$mobile-header-split-color: #EBEBEB;

$menu-nav-height: 64px!default;
$menu-nav-position: right!default;

body {
    header, .mobile-header-bar { //页眉共性设置
        &, a {
            color: $color;
        }

        a:hover {
            color: $main-color;
        }
        background-color: $mobile-header-bgcolor;
    }

    .content {
        
    }

    @media (min-width: 769px) { //pc端
        .mobile-header-bar, .mobile-header-info{
            display: none;
        }

        header {
            .header-info {
               //TODO

            }

            .menu-nav {
                height: $menu-nav-height;
                background: $nav-bgcolor;
                width: 100%;
                @include box-shadow(0, 2px, 6px, 0px, rgba(0, 0, 0, .1));

                &.fixed {
                    position: fixed;
                    top: 0;
                }


                .menu-items-container {
                     @include flex();

                     #menu-nav-prev, #menu-nav-next {
                        line-height: $menu-nav-height;
                        height: $menu-nav-height;

                        @include opacity(0);

                        &.show {
                            @include opacity(1);
                        }
                        
                     }

                     a {
                        display: block;
                        padding: 0 $mobole-menu-item-padding;
                        @include ellipsis();
                        font-size: 14px;
                    }



                    .menu-items {
                        font-size: 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-align: $menu-nav-position;
                        @include flex-1();

                        li {
                            &.menu-nav-item  {
                                // float: left; //会换行
                                position: relative;
                                display: inline-block; 
                                vertical-align:top; //高度有问题

                                &.menu-nav-item:first-child {
                                    @include transition(margin-left);
                                }

                                &.current > a {
                                    color: $main-color;
                                }

                                & > a { // 一级菜单
                                    line-height: $menu-nav-height;
                                    height: $menu-nav-height;
                                    max-width:  calc(7em * 1 + #{$mobole-menu-item-padding * 2}); //显示7个汉字
                                }

                                .icon-arrowdropdown {
                                    position: absolute;
                                    right: 0;
                                }
                            }

                            &:hover {
                                & > .sub-menu {
                                    display: block;
                                }
                            }
                        }
                        
                        
                        .sub-menu {
                            display: none;
                            position: absolute;
                            background: #fff;
                            line-height: 48px;

                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 2px;
                            border-bottom-left-radius: 2px;

                            .icon-arrowdropdown {
                                 @include opacity(0);
                                 @include transform(rotate(-90deg));
                            }

                            &:hover .icon-arrowdropdown{
                                @include opacity(1);
                            }
                            

                            @include box-shadow(0, 5px, 25px, 0px, rgba(0, 0, 0, .1));

                            a {
                                width:  calc(7em * 1 + #{$mobole-menu-item-padding * 4}); //显示7个汉字
                                text-align: left;
                                padding: 0 $mobole-menu-item-padding * 2;
                            }

                            &.second-sub-menu {
                                position: fixed;

                                .sub-menu {
                                    left: calc(100% + 1px);
                                    top: 0;
                                }

                            }

                        }
                        

                    }

                }
            }

        }

        
    }

    @media (max-width: 768px) { //mobile
        #menu-nav-prev, #menu-nav-next {
            display: none;
        }

        & {
            position: relative;
            height: 100%;
            overflow: hidden;
        }

        header {
            position: relative;
            float: left;
            width: 0;
            height: 100%;
            @include transition(width);
            white-space: nowrap;
            background-color: $mobile-header-bgcolor;
            @include flex();
            @include flex-v();
        }

        .content {
            position: absolute;
            left: 0;
            @include transition();
            background: #fff;
            z-index: 2;
        }

        .mobile-header-bar {
            position: relative;
            @include rem(height, $mobile-header-bar-height);
            @include rem(line-height, $mobile-header-bar-height);
            width: 100%;
            @include rem(font-size, 18px);
            @include box-shadow(0, 2px, 6px, 0px, rgba(0, 0, 0, .1));
            .m-logo {
                display: block;
                height: 100%;
                @include rem(padding, 10px 0);
                margin: 0 auto;
                @include rem(max-width, 180px);
                text-align: center;

                img {
                    vertical-align: baseline;
                    height: 100%;
                }
            }

            .m-search {
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                height: 100%;
                @include rem(width, 60px);
                text-align: center;
                .icon-search {
                    @include rem(font-size, 20px);    
                }
            }

            .ham {
                height: 100%;
                @include rem(padding, 10px);
                @include rem(width, 45px);
                display: block;

                .drawer-hamburger-icon {
                    @include transition(transform);
                    @include center(vertical);

                    & {
                        position: relative;
                        display: block;
                    }

                    &, &:after, &:before {
                        height: 1px;
                        width: 100%;
                        left: 0;
                        background-color: $color;
                     }

                    &:after, &:before {
                        content: '';
                        position: absolute;
                    }

                    &:after {
                       @include rem(top, 8px);
                    }

                    &:before {
                      @include rem(top, -8px);
                    }
                }
                
            }

            .m-search-input {
                position: absolute;
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                z-index: 999;
                @include rem(top, -$mobile-header-bar-height);
                padding: 0 5px;
                @include transition(top);
                @include rem(font-size, 16px);    

                &.show {
                    top: 0;
                }
            }
        }

        &.open {
            header {
                width: $mobile-left-width;
            }

            .ham {
                .drawer-hamburger-icon {
                    background: transparent;

                    &:after {
                        @include rem(top, 0);
                        @include transform(rotate(-45deg));
                    }

                    &:before {
                        @include rem(top, 0);
                        @include transform(rotate(45deg));
                    }
                }

            }

            .content {
                left: $mobile-left-width;
                @include box-shadow(-2px, 0px, 6px, 0px, rgba(0, 0, 0, .1));
            }
        }

        .menu-nav {
            // height: calc(100% - 240px);
            overflow: auto;
            .menu-items {
                li {
                    $li-padding-width: 15px;

                    position: relative;
                    overflow: hidden;
                    
                    @include rem(padding, 0 $li-padding-width);

                    a {
                        display: block;
                        @include rem(line-height, 50px);
                        border-bottom: 1px solid $mobile-header-split-color;
                        @include ellipsis();
                        @include rem(padding-right, 30px);
                    }

                    .icon-arrowdropdown {
                        @include transition();
                        position: absolute;
                        @include rem(right, $li-padding-width);
                        @include transform(rotate(-90deg))
                    }


                    &.open {
                        // & > .sub-menu {
                            // @include opacity(1);
                            // display: block;
                        // }

                        & > a .icon-arrowdropdown {
                            @include transform(rotate(0))
                        }
                    }
                }

                .sub-menu {
                    // @include transition();
                    // @include opacity(0);
                    display: none;
                }
            }
        }
        .mobile-header-info {
            @include rem(padding, 15px);
            .m-language span {
                @include rem(margin-right, 5px);
            }
            
            .profile {

                @include flex();
                @include flex-align-center();
                @include rem(padding, 20px);
                $img-width: 60px;
                .avatar, img {
                    @include rem(width, $img-width);
                    @include rem(height, $img-width);
                    @include border-radius(50%);
                    // border: 1px solid red;
                }
            }

            .detail {
                @include flex-1();
                @include rem(padding-left, 20px); 

                line-height: 1.6;

                h2 {
                    @include rem(font-size, 18px);
                }


                .message {
                    li {
                        display: inline-block;

                        &:not(:last-child) {
                             @include rem(margin-right, 8px);
                        }
                    }
                    span {
                        position: relative;
                        top: -2px;
                        @include rem(left, 4px);
                    }
                }
            }

            .m-language-container {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                height: 0;
                width: $mobile-left-width; 
                overflow: hidden;
                background-color: #fff;
                @include transition(all);
                @include opacity(0);

                &.open {
                    height: 100%;
                    @include opacity(1);
                }

                .language-bar {
                    @include rem(height, $mobile-header-bar-height);
                    @include rem(line-height, $mobile-header-bar-height); 
                    @include rem(padding, 0 15px);
                    border-bottom: 1px solid $mobile-header-split-color;
                    .icon-back {
                        line-height: 1;
                    }
                }

                li a {
                    display: block;
                    @include rem(line-height, 50px);
                    text-align: center; 
                }
               

            }
            
        }

        .content {
            float: left;
            width: 100%;
            height: 100%;
        }

        .scroll-view {
            height: calc(100% - #{$mobile-header-bar-height});
            overflow-y: auto;
        }
    } // mobile end
}
