@import "mixin";
@import "rem";

$nav-bgcolor: #fff!default;
$nav-hover-bgColor: #fff!default;
$nav-color: $color!default;
$nav-hover-color: $main-color!default;
$nav-hover-bgColor: #fff!default;


html {
    height: 100%;
    font-size: 10px;
    @media (max-width: 768px) { //mobile
         overflow: hidden;
    }
    @media (max-width: 414px) { //mobile
        font-size: 10vw;
    }

    @media (min-width: 415px) and (max-width: 768px) { //mobile
        font-size: 6vw;
    }
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
}


body { // 未来 删除该部分 style 中的base.css设置

    header {
        &, a {
            color: $color;
        }

        a:hover, a:focus {
            color: $main-color;
        }

        .nav,
        .mobile-header-info, 
        .mobile-header-bar { //页眉共性设置:

            &, a {
                color: $nav-color;
            }

            a:hover, a:focus {
                color: $nav-hover-color;
            }
        }
    }
}
