$main-color: #7939cc;   //主色
$color: #666;        //文字

//top bar
$top-bar-bgColor: transparent;
$top-bar-color: $color;
$hover: $main-color;

//second bar
$second-bar-bgColor: transparent;
$second-bar-color: $color;
$second-hover: $main-color;

//菜单
$nav-bgcolor: #fff; //#202020; //背景色
// $nav-bgcolor2: red; //背景色渐变色的第二色,如果是纯色，该参数可以不用

$nav-color: $color;
$nav-hover-color: $main-color;

//全文检索
$query-btn-bgColor: transparent;
$query-btn-color: $color;
$query-input-border: $color;
$query-input-bgColor: transparent;
$query-input-color: $color;

//-------------mobile
// $mobile-header-bgcolor: pink;
// $mobile-header-bgcolor2:red;
// $mobile-header-split-color: green;
