////////////////////////////////////////////////////////////// 最简配置
$main-color: #e64833;   //主色
$color: #767881;        //通用文字色

////////////////////////////////////////////////////////////// 复杂配置
// $main-color: #e64833;   //主色
// $color: #a1a1a1;        //通用文字色

//菜单
// $nav-bgcolor: $main-color; //菜单背景色
// $nav-color: #fadfdc; //一级菜单文字色
// $nav-hover-color: #fff; //一级菜单hover文字颜色
// // $nav-hover-bgColor: #ef948b; //一级菜单hover文字色

// $nav-deep-color: $nav-color;
// $nav-light-color: #ef948b;

// $mobile-header-item-bgcolor1: #e6594c!default;
// $mobile-header-item-bgcolor2: #d04334!default;
// $mobile-header-item-bgcolor3: #bb3c2f!default;

//tool bar
// $bar-bgcolor: $main-color; 
// $bar-color: #fadfdc; 
// $bar-hover-color: #fff;
// $bar-deep-color: $bar-color;
// $bar-light-color: #ef948b;

$deep-color: #fadfdc;
$light-color: #ef948b;



//////////////////////////////////////////////////////////// 移动端菜单特色配置：一般用不到
// $mobile-header-bgcolor: pink; //移动端页眉背景色
// $mobile-header-bgcolor2:red;  //移动端页眉渐变第二色
// $mobile-header-split-color: $nav-color; //移动端分割线色
